.container-test{
    
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center!important;
    align-items: center;
    
}

.container-img {
  width: 600px !important;
  height: 400px !important;
}

@media (max-width: 767px) {
  .container-img {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    width: 160px !important;
    height: 160px !important;
  }
}

/* foto de ruth  */
.container-ruth {
    width: 600px !important;
    height: 650px !important;
  }
  
  @media (max-width: 767px) {
    .container-ruth {
     
      align-items: center !important;
      justify-content: center !important;
      text-align: center !important;
      width: 400px !important;
      height: 400px !important;
      
    }
  }

