.container-img {
  width: 600px !important;
  height: 400px !important;
}

@media (max-width: 767px) {
  .container-img {
   
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    width: 400px !important;
    height: 200px !important;
  }
}
